!!!
%html{'ng-app' => 'todoApp'}
  %head
    = tag 'meta', 'charset' => 'utf-8'

    %title Mega Todo
    = stylesheet_link_tag '//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{'ng-controller' => 'ApplicationController'}
    = yield :header
    = yield
    = yield :footer